:root {
    --background-button-disabled: rgba(0, 0, 0, 0.1);
    --background-error-button-active: rgba(0, 0, 0, 0.1);
    --background-error-button-hover: rgba(0, 0, 0, 0.04);
    --box-shadow-hover: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
        0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button {
    min-width: 3rem;
    min-height: 2.25rem;
    font-size: 0.875rem;
    line-height: 1;
    border-radius: 0.25rem;
    letter-spacing: 0.09em;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 1rem;
    &[disabled] {
        pointer-events: none;
        color: var(--mdc-theme-text-disabled-on-background);
    }
}

.button--contained {
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-text-primary-on-dark);
    border: 1px solid var(--mdc-theme-primary);
    box-shadow: var(--box-shadow);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    &[disabled] {
        pointer-events: none;
        background: var(--background-button-disabled);
        box-shadow: none;
        border: 1px solid transparent;
    }
    &:hover {
        opacity: 0.9;
        box-shadow: var(--box-shadow-hover);
    }
    &:active {
        opacity: 0.8;
    }
}

.button--outlined {
    background: none;
    color: var(--mdc-theme-primary);
    border: 1px solid var(--mdc-theme-primary);
    &[disabled] {
        border: 1px solid var(--mdc-theme-text-disabled-on-background);
    }
    &:hover {
        background: var(--mdc-theme-primary-light-hover);
    }
    &:active {
        background: var(--mdc-theme-primary-light-active);
    }
}
.button--text {
    border: none;
    background: none;
    color: var(--mdc-theme-primary);
    &:hover {
        background: var(--mdc-theme-primary-light-hover);
    }
    &:active {
        background: var(--mdc-theme-primary-light-active);
    }
}

.button--text-red {
    color: var(--mdc-theme-error);
    border: none;
    background: none;
    &:hover {
        background: var(--background-error-button-hover);
    }
    &:active {
        background: var(--background-error-button-active);
    }
}

.button-group {
    display: inline-flex;
    box-shadow: var(--box-shadow);
    border-radius: 0.25rem;
    &[disabled] {
        pointer-events: none;
        box-shadow: none;
        .button {
            color: var(--mdc-theme-text-disabled-on-background);
            background: var(--background-button-disabled);
            border: 1px solid transparent;
        }
        .button-icon {
            fill: var(--mdc-theme-text-disabled-on-background);
        }
    }
    .button {
        margin: 0;
        box-shadow: none;
    }
    &--left {
        border-radius: 0.25rem 0 0 0.25rem;
    }
    &--right {
        border-radius: 0 0.25rem 0.25rem 0;
        min-width: 0;
        padding: 0;
    }
    .button-icon {
        fill: var(--mdc-theme-text-primary-on-dark);
    }
}

.button-with-dropdown {
    display: inline-block;
    position: relative;
    .menu-dropdown {
        display: none;
        position: absolute;
        right: 0;
        margin-top: 0.25rem;
        z-index: 9;
    }
}

.menu-dropdown {
    display: inline-flex;
    box-shadow: var(--box-shadow);
    border-radius: 0.375rem;
    &__list {
        color: var(--md-theme-text-primary-on-light);
        background-color: var(--md-theme-element-background);
        border-radius: 0.375rem;
        letter-spacing: 1px;
        line-height: 1.5rem;
        .menu-dropdown__item {
            padding: 0 0.75rem;
            min-height: 2rem;
            white-space: nowrap;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            &:first-of-type {
                border-radius: 0.375rem 0.375rem 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 0.375rem 0.375rem;
            }
            &:hover {
                background: var(--list-background-on-hover-color);
            }
            &[disabled] {
                pointer-events: none;
                color: var(--mdc-theme-text-disabled-on-background);
            }
        }
    }
}

.button-group--open {
    .menu-dropdown {
        display: block;
    }
}
